/* buttonStyle.css */

.submit-button {
    background-color: #64707c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 4px;
}

.submit-button:hover {
    background-color: #3d3f41;
}
